footer {
  background-color: $footer-bg-color;
  @include color-write;
  padding: 30px;
  
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;

}

footer a {
  @include color-write;
}

footer a:hover,
footer a:active,
footer a:focus {
  @include color-write;
}
