footer {
  background-color: $footer-bg-color;
  @include color-black;
  @include d-flex-centered;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;

}

footer .container
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

footer .container a{
  @include d-flex-centered;
}

footer img{
  margin-right: 25px;
}

footer ul
{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li{
  list-style: none;
  padding: 0 12px;
}

footer a,
footer a:hover,
footer a:active,
footer a:focus {
  font-weight: 100;
  @include color-black;
  @include text-decoration-none;
  
}
 
footer ul a {
  line-height: 50px;
  font-weight: 100;
}


footer img{
  max-width: 34px;
}
 