header {
  background-color: $header-bg;
  height: 100px;
  box-shadow: 1px 1px 0px rgba(0,0,0,.25);
  margin-bottom: 1px;
}

header .container {
  background-color: $header-bg;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 100px;
 
}


.logo
{
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}



header a,
header a:hover,
header a:active,
header a:focus {
  @include color-black;
  @include text-decoration-none;
  
}
 

header h1 {
  margin-bottom: 0;
}

header h1 a {
  @include height-100; 
  margin: 0;
  font-size: 3rem;
  float: left;
}

.btn-menu {
  display: none;
}

 

header nav ul {
  @include margin-padding-0;
  list-style: none;
  display: flex;
  
  
}

header nav li {
    padding: 0 25px;
}


header nav li:hover {
  background: $background;
}

header nav a {
  @include height-100;
  display: block;
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
}
