@mixin margin-padding-0 {
  margin: 0;
  padding: 0;
}

@mixin margin-auto-padding-0 {
  margin: 0 auto;
  padding: 0;
}

@mixin color-write {
  color: $write;
}



@mixin color-gray {color: #e0ece8;}
@mixin color-black {color: #191b1b;}



@mixin text-decoration-none {
  text-decoration: none;
}


@mixin height-100 {
  line-height: 100px;
}

@mixin d-flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  
}